:root {
  /* COLORS */

  --fs-black: #333333;
  --fs-white: #FFFFFF;

  --fs-grey: #DEDEDE;
  --fs-dark-grey: #666666;
  --fs-light-grey: #E9E9E9;

  --fs-blue: #0077C8;

  --fs-hover: #0269AF;
  --fs-pressed: #045C98;

  --fs-success: #037834;
  --fs-success-bg: #D0F7E0;

  --fs-warning: #CE530E;
  --fs-warning-bg: #FFE9D0;

  --fs-error: #BF1F16;
  --fs-error-bg: #FFD9D6;

  --fs-info: #2575AC;
  --fs-info-bg: #DBF3FF;

  --fs-primary: var(--fs-blue);
  --fs-accent: var(--fs-primary);

  --fs-background: #F3F3F3;
  --fs-secondary-background: var(--fs-light-grey);

  --fs-text-color: var(--fs-black);

  --fs-link-background: var(--fs-white);

  --fs-link-hover-color: var(--fs-text-color);
  --fs-link-hover-background: var(--fs-light-grey);

  --fs-link-active-background: var(--fs-link-background);

  --fs-link-icon-color: var(--fs-black);

  --fs-button-color: var(--fs-white);
  --fs-button-background: var(--fs-accent);

  --fs-button-hover-background: var(--fs-hover);

  --fs-button-active-background: var(--fs-pressed);

  --fs-divider-color: var(--fs-grey);

  --fs-border-color: var(--fs-grey);

  --fs-dark-border-color: var(--fs-dark-grey);

  --fs-light: var(--fs-white);

  --fs-alternative-hover: var(--fs-light-grey);

  --fs-alternative-pressed: var(--fs-grey);
}
